$primary-background: #F9F9F9
$image-gallery-bacground: #FFF
$image-inside-caption: #00000052

.item
  margin: 0.5%
  padding: 0
  background: $image-gallery-bacground
  border-radius: 1%

.item-img
  height: 25vh
  min-height: 228px
  width: 100%
  border-radius: 1%

.caption-img
  position: relative
  min-height: 67px
  height: 5vh

.caption
  position: absolute
  top: 65%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0
  font-family: 'Barlow', sans-serif
  font-size: 16px
  font-weight: 400

.top-left 
  position: absolute
  top: 4%
  left: 3.5%
  padding: 0% 2% 0.5% 2%
  font-family: 'Barlow', sans-serif
  font-size: 12px
  font-weight: 500
  color: $image-gallery-bacground
  background-color: $image-inside-caption
  border-radius: 10px