<body>
    <div class="container">
            <p class="fotogalery">Fotogaléria</p>
            <p class="subcategory">Katégorie</p>
    </div>
    <div class="container gallery-row">
            <div class="col col-3 item shadow" *ngFor="let gallery of gallery">
                <a routerLink="/detail" routerLinkActive="router-link-active" >
                    <img [src]="gallery.url" [alt]="gallery.category" class="item-img">
                    <div class="top-left"> {{gallery.number}} fotiek </div>
                    <div class="caption-img">
                        <div class="caption"><p>{{gallery.name}}</p></div>
                    </div>
                </a>
            </div>
            <div class="col col-3 modal-open d-flex flex-column justify-content-center align-items-center shadow" (click)="openDialog()">
                    <i class="bi bi-plus-square"></i> <h5>Pridať categórie</h5>
            </div>
    </div>
</body>