<body>
    <div class="container">
        <p class="fotogalery">Fotogaléria</p >
        <p class="subcategory"><a routerLink="/gallery" routerLinkActive="active"><i class="bi bi-arrow-left-short"></i>Príroda</a></p>
    </div>
    <div class="container gallery-row">
        <div class="col col-3 item-detail shadow" *ngFor="let img of imageData">
            <a routerLink="/detail" routerLinkActive="router-link-active" >
                <img [src]="img.url" [alt]="img.category" class="item-img-detail">
            </a>
        </div>
        <div class="col col-3 modal-open d-flex flex-column justify-content-center align-items-center shadow" (click)="openDialog()">
            <i class="bi bi-plus-square"></i> <h5>Pridať fotky</h5>
        </div>
    </div>
</body>