$image-gallery-bacground: #FFF

.item-detail
  min-height: 295px
  height: 30vh
  margin: 0.5%
  padding: 0
  border-radius: 1%

.item-img-detail
  min-height: 295px
  height: 30vh
  width: 100%
  border-radius: 1%