<div class="forms">
    <h5 mat-dialog-title>Pridanie fotiek</h5>
    <mat-dialog-content>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><h6>Sem nahrajte vaše fotografie</h6></legend>
            <input type="file" class="form-control border-none" placeholder="Vložte názov kategórie" accept="image/*, .jpg, .png, .svg">
        </fieldset>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" class="btn btn-dark" mat-dialog-close>Nahrať</button>
    </mat-dialog-actions>
</div>