@import '~bootstrap/scss/bootstrap'
@import '~@angular/cdk/overlay-prebuilt.css'
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css")

  
$primary-background: #F9F9F9
$image-gallery-bacground: #FFF
$image-inside-caption: #3f3f3fab

/*#000000*/
html
  padding: 0
  margin: 0
  height: auto
  min-height: 100%

body 
  height: auto
  min-height: 100%
  margin: 0
  color: #000000
  background-color: $primary-background
  text-decoration: none

h1 
  font-size: 5.9vw

h2 
  font-size: 4.0vw

h3 
  font-size: 2.0vw

h4 
  font-size: 1.0vw

h5
  font-size: 1.0vw

p
  font-size: 2vmin

a
  text-decoration: none
  color: #000
  &:hover
    color: #000

.col-3
  max-width: 24%

.gallery-row
  display: flex
  flex-wrap: wrap
  img
    object-fit: cover

.item
  margin: 0.5% 0.5% 0.5% 0.5%
  padding: 0
  height: 35vh
  background: $image-gallery-bacground
  border-radius: 1%

.item-img
  height: 29vh
  width: 100%
  border-radius: 1%

.caption-img
  padding: 5%
  text-align: center

.image-detail
  margin: 0.5% 0.5% 0.5% 0.5%
  width: 24%
  height: 35vh
  border-radius: 1%
  background: $image-gallery-bacground

.top-left 
  position: absolute
  top: 3%
  left: 3%
  padding: 0% 2% 0.5% 2%
  font-size: 1.5vmin
  color: $image-gallery-bacground
  background-color: $image-inside-caption
  border-radius: 10px




.forms
  margin: 5%

fieldset
    border-radius: 10px
    border: 2px solid !important
    padding: 0 1.4em 1.4em 1.4em !important
    margin: 0 0 1.5em 0 !important
    -webkit-box-shadow: 0px 0px 0px 0px #000
    box-shadow: 0px 0px 0px 0px #000
    margin-top: 2% !important
    margin-bottom: -2%

legend
    font-weight: bold
    text-align: left
    width: auto
    padding: 0 1%
    border-bottom: none
    margin-top: -2.5%
    background-color: white
    color: black

.border-none
  border: none